
* {
  box-sizing: border-box;
}



h1{
	
	font-style: italic;
	text-align: center;
}

button{
	position:relative;
	font-weight: bold;
	font-size: 25px;
    
	text-align: center;
}

#mybtn{
  position:relative;
  right:50px;
}


.show {
	display: block;

}

.hide {
	display: none;
}

img{
		
	margin-top: 20px;
	margin-right: 15%;
	border: 1px solid black;
	border-radius: 0%;
	-webkit-border-radius: 24px;
}

.section {
	
  width: 30%;
  height: 300px;
 position: relative;
  margin-right: 10px;    
  margin-left: 10px;    
    margin-bottom: 15px;
    margin-top: 30px;
  padding: 10px;
  padding-top: 10px; 
    float: left;
    display: table;
}

 #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
}
 #map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
  
.textHover {
    display:none;
    width:100%;
    height:100%;
    position:relative;
    top:50px;
    font-size:20px;
    text-align:left;
   color: black;
}

a:hover + p {
    display:block;
}




.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}


.modal-header{
  background-color:#DAA520;
}

h4,label {
text-align:left;  
font-family:'Raleway',sans-serif;
color:#006400
}
h1 {
font-family:'Raleway',sans-serif
text-shadow: 5px 5px black;
}
input {
width:100%;
margin-bottom:20px;
padding:5px;
height:30px;
box-shadow:1px 1px 12px gray;
border-radius:3px;
border:none
}
textarea {
width:100%;
height:80px;
margin-top:10px;
padding:5px;
box-shadow:1px 1px 12px gray;
border-radius:3px
}
#send {
width:103%;
height:45px;
margin-top:40px;
border-radius:3px;
background-color:#DAA520;
border:1px solid #fff;
color:#fff;
font-family:'Raleway',sans-serif;
font-size:18px
}
div#feedback {
text-align:left;
height:450px;
width:450px;
padding:20px 25px 20px 15px;
background-color:#f3f3f3;
border-radius:3px;
border:1px solid #cd853f;
font-family:'Raleway',sans-serif;
float:left
}
.container {
width:500px;
margin:10px auto;
}


#myImg {
    
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}




.News h1{

text-align: left;

font-family: 'lora',sans-serif;
  color: #2196F3;
  font-weight: bold;
  border-color: #B71C1C;
  font-size: 30px;
  text-shadow: 1px 1px #CDDC39;
}

