

#Events {
  height: 400px;
  width: 100%;
  position:relative;
  border: 2px solid #3F0C1F;
}

.section {text-align:center;}
#section0,#section4{background: #ff6600;}

.wrapper
{     
  height: auto; 
  width: 1000px;
  margin: 0 auto;
}


.menu
{
  position:fixed;
  top:10px;   
  z-index: 70;
  width: 100%;
  padding: 0;
  margin:0 0 0 40px;  
}


.menu li 
{
  display:inline-block;
  margin: 35px; 
  color: #000;
  background:#fff;
  font-size: 18px;
  background: rgba(255,255,255, 0.5);
  -webkit-border-radius: 10px;
            border-radius: 10px;
}


.menu li.active
{
  background:#666;
  background: rgba(0,0,0, 0.5);
  color: #fff;
}

.menu li a
{
  text-decoration:none;
  color: #000;
}

.menu li.active a:hover
{
  
  transform:scale(1.25);
}

.menu li:hover
{ 
  transform:scale(1.25);
}

.menu li a,
.menu li.active a
{
  padding: 9px 18px;
  display:block;
}

.menu li.active a
{
  color: #fff;
}

.show-menu
{
    display: none;
}

.description{
  font-size: 20px;
  font-family: 'lora',sans-serif;
  text-shadow: 1px 1px #FF5722;

}
.fullpage
{   
  position: absolute;
  width: 1000px;
  height: auto; 
}







